.advantages {
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.advantages__list {
  @include indents-zero();
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 24px;
}

.advantages__item {
  padding: 0;
  padding-top: 55px;
  line-height: 22px;
  margin-bottom: 24px;
  position: relative;
}

.advantages__pic {
  position: absolute;
  top: 10px;
  left: 0;
}

@media (min-width: 768px) {
  .advantages {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 43px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;

    :nth-child(n+4) {
      margin-right: 0;
    }
  }

  .advantages__title {
    font-size: 45px;
    margin-bottom: 60px;
    letter-spacing: -2px;
  }

  .advantages__item {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 55px;
    width: 50%;

    &--flower {
      order: 1;
    }

    &--ball {
      order: 2;
    }

    &--money {
      order: 3;
    }

    &--rocket {
      order: 4;
    }

    &--heart {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: 1150px) {
  .advantages {
    margin-top: 66px;
    padding: 0 30px;;
  }

  .advantages__title {
    font-size: 50px;
  }
}
