.page-button {
  @include a-zero();
  border: 2px $gray solid;
  display: block;
  width: 260px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  background-color: $white;

  &:hover {
    background-color: $gray;
    color: $white;
  }

  &:active {
    color: $white-o30;
  }
}
