.cart-list {
  @include indents-zero();
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.cart-list__item {
  border-bottom: 1px $border-gray solid;
  padding-left: 30px;

  a {
    @include a-zero();
    display: block;
    margin: 25px 0;

    &:hover {
      color: $black-o60;
    }

    &:active {
      color: $black-o30;
    }
  }
}

.cart-list__item--pic {
  position: relative;
  display: inline-block;
  margin-right: 27px;
  opacity: 0.2;
}

.cart-list__item:hover .cart-list__item--pic {
  opacity: 1;
  fill: $dark-tiffany;
  color: $dark-tiffany;
}

.cart-list__item:active .cart-list__item--pic {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .cart-list {
    flex-direction: row;
    font-size: 17px;
    line-height: 24px;
    order: 2;
  }

  .cart-list__item--search-marker {
    padding-right: 7px;
  }

  .cart-list__item {
    display: flex;
    border: none;
    border-left: 1px $border-gray solid;
    height: 90px;
    align-items: center;

    a {
      margin: 0;
    }
  }

  .cart-list__item--search {
    display: none;
  }
}

@media (min-width: $desktop) {
  .cart-list {
    order: 3;
    margin: 0;
  }

  .cart-list__item {
    padding-left: 32px;
  }
}
