.cart-product__img {
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  display: block;
}

.cart-product {
  a {
    @include a-zero();
  }
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.cart-product__pic {
  opacity: 0.2;
}

.cart-product:hover .cart-product__title,
.cart-product:hover .cart-product__price {
  color: $black-o60;
}

.cart-product:active .cart-product__title,
.cart-product:active .cart-product__price {
  color: $black-o30;
}

.cart-product:hover .cart-product__pic {
  fill: $tiffany;
  opacity: 1;
}

.cart-product:active .cart-product__pic {
  opacity: 0.3;
}

.cart-product__wrap {
  margin-left: 27px;
  width: 200px;
}

.cart-product__title {
  h2 {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
  }
}

.cart-product_desc {
  margin: 0;
  line-height: 36px;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-family: $f-normal;
  padding-bottom: 18px;
}

.cart-product__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin: 0;
  font-size: 14px;
  padding: 18px 0 22px 0;
  border-top: 1px $border-gray solid;
}


@media (min-width: 768px) and (max-width: 1149px) {
  .cart-product {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
  }

  .cart-product__img {
    margin-bottom: 0;
  }

  .cart-product__wrap {
    width: 50%;
    height: 334px;
    padding: 30px 30px 0 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-product__price {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .cart-product__title {
    h2 {
      font-size: 20px;
    }
  }

  .cart-product_desc {
    font-size: 15px;
  }

  .cart-product__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .cart-product {
    height: 660px;
  }

  .cart-product__wrap {
    padding-top: 30px;
    width: 256px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-product__img {
    margin-bottom: 0;
  }

  .cart-product_desc {
    padding: 0;
  }
}
