.comment {
  width: 320px;
  margin: 28px auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.comment::after {
  content: "";
  width: 100%;
  background: url("../img/bg-zigzag-line.svg") no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  display: block;
  height: 23px;
}

.comment__title {
  font-size: 24px;
  margin: 0 30px;
  margin-bottom: 8px;
}

.comment__item {
  padding: 0;
  margin: 0 30px;
}

.comment__text {
  font-family: $f-normal;
  font-size: 15px;
  margin-bottom: 23px;
}

.comment__autor {
  font-style: normal;
}

.comment__autor-tag {
  font-family: $f-normal;
}

.comment__pagination {
  margin: 0 30px;
}

.comment_btn {
  margin: 0 30px;
  margin-bottom: 37px;
}

@media (min-width: 768px) {
  .comment {
    width: 100%;
    background: url("../img/review@1x.jpg") no-repeat;
    position: relative;
  }

  .comment__item {
    margin: 0 50px;
    margin-bottom: 110px;
  }

  .comment__title {
    font-size: 42px;
    margin: 90px 50px;
    margin-bottom: 40px;
  }

  .comment__text {
    font-size: 17px;
    margin-bottom: 55px;
  }

  .comment__wraper {
    display: flex;
    flex-direction: column;
  }

  .comment__autor {
    font-size: 18px;
  }

  .comment__pagination {
    position: absolute;
    right: 20px;
    bottom: 95px;
  }

  .comment_btn {
    width: 175px;
    position: absolute;
    top: 80px;
    right: 20px;
  }
}

@media (min-width: 1150px) {
  .comment {
    margin-top: 38px;
    width: 1150px;
    background-position: 50px 0;
  }

  .comment__title {
    margin-top: 85px;
    font-size: 52px;
    margin-bottom: 45px;
    padding-left: 175px;
  }

  .comment__item {
    padding-left: 175px;
    margin-bottom: 160px;
  }

  .comment__text {
    margin-bottom: 40px;
    padding-right: 75px;
  }

  .comment__autor {
    font-size: 17px;
  }

  .comment__pagination {
    right: 20px;
    bottom: 100px;
  }

  .comment_btn {
    right: 20px;
  }
}
