.footer {
  background-color: $light-gray;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__pic {
  &:hover {
    fill: $dark-tiffany-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social-list {
  @include indents-zero();
  width: 260px;
  border-bottom: 1px #e5e5e5 solid;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 20px;
}

.footer__wrap {
  @include a-zero();
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;

  &:hover {
    color: $black-o60;
  }

  &:active {
    color: $black-o30;
  }
}

.footer__develop--pic {
  margin-left: 25px;
  color: $tiffany;
  fill: $tiffany;
}

.footer__wrap:hover .footer__develop--pic {
  fill: $dark-tiffany-hover;
}

.footer__wrap:active .footer__develop--pic {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
    padding: 50px 0;
  }

  .footer__container {
    width: 768px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__social {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0;
  }

  .footer__social-list {
    border: none;
    padding-bottom: 0;
    padding-left: 30px;
    width: auto;
  }

  .footer__pic {
    display: block;
  }

  .footer__wrap {
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .footer__container {
    width: 1150px;
    margin: 0 auto;
  }
}
