.footer {
  background-color: $light-gray;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__social {
  display: flex;
  flex-direction: column;
}

.footer__social-list {
  @include indents-zero();
  width: 260px;
  display: flex;
  justify-content: center;
  border-bottom: 1px #e5e5e5 solid;
}

.footer__wrap {
  a {
    @include a-zero();
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer__develop--pic {
  margin-left: 30px;
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
    padding: 0 50px;
    flex-direction: row;
  }

  .footer__social {
    flex-direction: row;
  }

  .footer__social-list {
    border: none;
  }

  .footer__pic {
    display: block;
  }
}
