.form__wrap {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 55px;
}

.form__desc {
  margin-top: 29px;
  font-family: $f-normal;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .form__wrap {
    width: 100%;
    padding: 0;
  }

  .form__desc {
    width: 768px;
    margin: 69px auto;
    margin-bottom: 0;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
}
