.header {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px $border-gray solid;
    padding: 0 50px;
  }
}

@media (min-width: $desktop) {
  .header {
    max-width: $desktop;
    margin: 0 auto;
    border-bottom: none;
  }
}
