.header {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px #ececec solid;
    padding: 0 50px;
  }
}
