.header {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #ececec solid;
    padding: 0 50px;
  }
}

@media (min-width: 1150px) {
  .header {
    max-width: 1150px;
    margin: 0 auto;
  }
}
