.order__fieldset {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

.order__ul {
  @include indents-zero();
}

.order__legend {
  display: block;
  margin: 0;
  text-transform: uppercase;
  color: $tiffany;
  padding-right: 20px;
  position: relative;

  &::after {
    content: "";
    width: 198px;
    height: 1px;
    background-color: $tiffany;
    position: absolute;
    left: 62px;
    top: 15px;
  }
}

.order__tel {
  position: relative;
  margin-top: 27px;
  margin-bottom: 26px;
}

.order__email {
  position: relative;
  margin-bottom: 26px;
}

.order__tel-item {
  @include placeholder {
    font-family: $f-normal;
    font-size: 19px;
  }
}

.order__email-item,
.order__tel-item {
  width: 100%;
  border: none;
  border-bottom: 2px $black solid;
  padding: 15px 0;
  font-family: $f-normal;
  color: $gray;

  &:hover,
  &:active,
  &:focus {
    border-color: $tiffany;
    outline: none;
  }
}

.order__tel-pic,
.order__email-pic {
  position: absolute;
  right: 10px;
  top: 40px;
  fill: $gray;
  opacity: 0.6;
}

.order__email-item:hover + .order__email-pic,
.order__email-item:active + .order__email-pic,
.order__email-item:focus + .order__email-pic {
  opacity: 1;
  fill: $tiffany;
}

.order__tel-item:hover + .order__tel-pic,
.order__tel-item:active + .order__tel-pic,
.order__tel-item:focus + .order__tel-pic {
  opacity: 1;
  fill: $tiffany;
}

.order__legend-wish {
  margin-bottom: 18px;
}

.order__wishes {
  font-family: $f-normal;
  width: 100%;
  height: 142px;
  border: 2px $black solid;
  padding: 15px;
  color: $gray;
  outline: none;
}

.order__wishes:hover,
.order__wishes:focus {
  border: 2px $tiffany solid;
}

.order__wishes:active {
  border: 2px $tiffany solid;
  color: $black;
}

.order__filling {
  display: block;
  margin: 0;
  font-family: $f-normal;
  font-size: 13px;
  letter-spacing: 0.3px;
  margin-bottom: 22px;
}

.order__btn {
  height: 52px;
}

@media (min-width: $tablet) {
  .order__fieldset {
    border: none;
    display: flex;
    padding: 50px 50px;
    padding-bottom: 12px;
  }

  .order__fieldset-gray {
    background-color: $light-gray;
  }

  .order__fieldset--color {
    min-height: 305px;
    padding-bottom: 25px;
  }

  .order__fieldset--personal {
    padding-top: 45px;
  }

  .order__type {
    width: 503px;
    margin: 0;
  }

  .order__legend {
    width: 165px;
    padding-top: 15px;

    &::after {
      display: none;
    }
  }

  .order__input-wrap {
    width: 100%;
    margin-left: 40px;
    position: relative;
  }

  .order__tel {
    padding-top: 45px;
    margin-top: 21px;
    margin-bottom: 0;
  }

  .order__tel-item,
  .order__email-item {
    width: 100%;
    background-color: $light-gray;
    padding: 17px;
  }

  .order__tel-pic {
    right: 25px;
    top: 13px;
  }

  .order__email-pic {
    top: 13px;
    right: 20px;
  }

  .order__email {
    padding-top: 9px;
    padding-bottom: 50px;
  }

  .order__email-item {
    @include placeholder {
      font-family: $f-normal;
      font-size: 19px;
    }
  }

  .order__fieldset--wish {
    padding-top: 25px;
  }

  .order__legend-wish {
    padding-top: 10px;
    margin-right: 40px;
  }

  .order__wishes {
    font-size: 19px;
    padding-top: 12px;
  }

  .order__bottom {
    position: relative;
    margin-bottom: 65px;
  }

  .order__filling {
    margin: 0;
    margin-top: 50px;
    font-size: 16px;
    text-align: right;
    padding-right: 50px;
  }

  .order__btn {
    width: 230px;
    position: absolute;
    bottom: -13px;
    left: 50px;
  }
}

@media (min-width: $desktop) {
  .order__fieldset {
    padding: 50px 110px 10px 110px;
    max-width: 1150px;
    margin: 0 auto;
  }

  .order__legend {
    padding-top: 18px;
    width: 110px;
  }

  .order__fieldset--color {
    min-height: 230px;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .order__fieldset--personal {
    padding-top: 43px;
    padding-bottom: 30px;
  }

  .order__input-wrap {
    width: 705px;
    margin-left: 0;
    position: relative;
  }

  .order__tel {
    padding-top: 45px;
  }

  .order__tel-item,
  .order__email-item {
    margin-left: 0;
    padding: 22px 0 17px 20px;
  }

  .order__tel-pic {
    right: 7px;
    top: 20px;
  }

  .order__email {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .order__email-item {
    padding: 20px 0 13px 20px;
  }

  .order__email-pic {
    right: 5px;
    top: 15px;
  }

  .order__fieldset--wish {
    padding-top: 50px;
  }

  .order__legend-wish {
    width: 113px;
    padding-top: 10px;
    margin-right: 0;
    padding-right: 15px;
  }

  .order__wishes {
    width: 700px;
  }

  .order__bottom {
    width: 805px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .order__filling {
    padding-right: 50px;
  }
}
