.pagination {
  width: 260px;
  display: flex;
  margin-top: 26px;
  margin-bottom: 38px;
}

.pagination__item {
  width: 50%;
  height: auto;
  margin: 0;
  border: 1px $border-gray solid;
  padding: 13px 0;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

.pagination__left {
  border-right: none;
}

.pagination__left,
.pagination__right {
  &:hover {
    fill: $black-o60;
  }

  &:active {
    fill: $black-o30;
  }
}

@media (min-width: 768px) {
  .pagination {
    width: 175px;
  }

  .pagination__item {
    border: none;
  }
}
