.pic {
  fill: $tiffany;
  position: absolute;
  top: 7px;
  left: 7px;
}

.pic__flower {
  top: 2px;
}

.pic__money {
  top: 4px;
  left: 0;
}

.pic__ball {
  left: 4px;
}

.pic__rocket {
  left: -5px;
}

.pic__gift {
  top: 5px;
  left: 4px;
}
