.title {
  h1 {
    text-align: center;
    font-size: 27px;
  }
  width: 100%;
  margin: 0 auto;
  padding: 51px 0;
  background-color: $light-gray;
  position: relative;
}


@media (min-width: $tablet) and (max-width: 1149px) {
  .title {
    padding: 70px 0;

    h1 {
      font-size: 43px;
    }
  }
}

@media (min-width: $tablet) {
  .title h1::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    display: block;
    background: transparent url("../img/bg-zigzag-fill.svg") repeat-x;
    background-size: 100%;
    color: $white;
    height: 34px;
  }
}

@media (min-width: $desktop) {
  .title {
    padding: 65px 0 70px 0;

    h1 {
      font-size: 53px;
    }
  }

  .title__form {
    padding: 70px 0 90px 0;
  }
}
