.footer {
  background-color: $light-gray;
}

.footer__social-list {
  @include indents-zero();
  border-bottom: 1px #e5e5e5 solid;
}

.footer__wrap {
  a {
    @include a-zero();
  }
  margin-left: 40px;
  height: 60px;
}
