.popular-item__marker {
  color: $tiffany;
  text-transform: uppercase;
}

.popular-item__description {
  font-size: 15px;
  color: $gray;
  font-family: $f-normal;
}

.popular-item__specification {
  font-size: 15px;
  color: $gray;
  line-height: 26px;
  font-family: $f-normal;
}

.popular-item__pic {
  margin-bottom: 30px;
}

.popular-item__price {
  color: $gray;
  display: block;
}

.popular-item__buton {
  margin-top: 30px;
}
