.footer {
  background-color: $light-gray;
}

.footer__social-list {
  border-bottom: 1px #e5e5e5 solid;
}

.soc-list__item {
  a {
    color: $black;
  }
}

.footer__wrap {
  a {
    color: $black;
  }
  margin-left: 40px;
  height: 60px;
}
