@mixin indents-zero() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin a-zero() {
  text-decoration: none;
  color: $black;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
