$f-normal:"OpenSansNormal", "Arial", sans-serif;
$f-bold:"OpenSansBold", "Arial", sans-serif;

$black:rgba(0, 0, 0, 1);
$black-o60: rgba(0, 0, 0, 0.6);
$black-o30: rgba(0, 0, 0, 0.3);
$white: white;
$white-o30: rgba(255, 255, 255, 0.3);
$tiffany: #63d1bb;
$tiffany-hover:#59d5bc;
$line-color:#62d1ba;
$dark-tiffany:#56c3b2;
$dark-tiffany-hover: #46c1ae;
$dark-t-o30: rgba(70, 193, 174, 0.3);
$dark-t-o20: rgba(70, 193, 174, 0.3);
$gray: #444444;
$light-gray: #f1f1f1;
$border-gray: #ececec;

$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;
